@import "bootstrap/scss/bootstrap";

:root {
  --bs-link-color: #E37600;
  --bs-btn-bg: #337ab7;
}

$prime: #0d6efd;
$second: #0c1016;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

a, .btn {
  text-decoration: unset;
}

.nav-link{
  color: #fff;
  &:focus, &:hover, &:active{
    color: #fff;
    opacity: 0.9;
  }
}

.card-body {

  .icon {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    background: #c0c0c0;
    padding: 10px;
    margin: 0 auto;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.card-footer {
  button {
    border: 0;
  }
}

#form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  position: relative;
}

#input-file-upload {
  display: none;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  text-align: center;
  background-color: #f8fafc;

  &.drag-active {
    background-color: #ffffff;
  }
}

#uploaded-files {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;

  img {
    width: 100%;
    height: 100%;
  }

  .file-preview {
    position: relative;
    padding: 3px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #cbd5e1;
    width: 50px;
    height: 50px;
  }

  button {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;

    &:hover, &:focus {
      opacity: 1;
    }
  }
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;

  &:hover, &:focus {
    text-decoration-line: underline;
  }
}

.github-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  filter: url('#gooey');
  background-color: $prime;
  transition: 0.3s background-color;

  &:focus {
    outline: none;
  }

  .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .bubble {
      background-color: $prime;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
      transition: 0.3s background-color;

      @for $bubble from 1 through 10 {
        &:nth-child(#{$bubble}) {
          $size: 25px;
          left: (random(30) + 10)+px;
          width: $size;
          height: $size;
          animation: move-#{$bubble} #{3 + $bubble*0.02}s infinite;
          animation-delay: #{$bubble*0.2}s;
        }
      }
    }
  }

  &:hover, &:focus {
    background: #0a58ca;

    .bubble {
      background: #0a58ca;
    }
  }
}

.tooltip {
  --bs-tooltip-bg: #0a58ca;

  &-inner {
    background-color: #0a58ca;
  }

  &-arrow:before {
    border-left-color: #0a58ca;
  }
}

@for $bubble from 1 through 10 {
  @keyframes move-#{$bubble} {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -(random(80) + 50)+px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
}

.export-all {
  background: #000;
  position: fixed;
  bottom: 20px;
  right: 100px;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #{$primary};
  --bs-btn-active-border-color: #{$primary};

  &:hover, &:focus, &:active {
    background: $primary;
    color: #fff;
    transform: scale(0.95);
  }
}

